@model Hotel_Manage.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerNight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>

        @using (Html.BeginForm(actionName: "Create", controllerName: "Reservations"))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Reservation</h4>
                <input id="RoomId" name="RoomId" type="hidden" value=@Model.Id />
                <select id="StartDate" name="StartDate">
                    @foreach (var date in ViewBag.AvaliableDates)
                    {
                        <option value=@date>@date</option>
                    }
                </select>

                <select id="EndDate" name="EndDate">
                    @foreach (var date in ViewBag.AvaliableDates)
                    {
                        <option value=@date>@date</option>
                    }
                </select>

                <input type="hidden" id="CustomerId" name="CustomerId" value=@User.Identity />

                <input type="submit" />
            </div>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
