@model Hotel_Manage.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
@Html.LabelFor(u => u.Email, "Email:")
<br />
@Html.DisplayFor(u => u.Email)
<br />
<br />
@Html.LabelFor(u => u.UserName, "Username:")
<br />
@Html.DisplayFor(u => u.UserName)
<br />
<br />
<label>Role:</label>
<p>@ViewBag.UserRole</p>

@using(Html.BeginForm(actionName: "Delete", controllerName: "Users", method: FormMethod.Post, routeValues: new { id = Model.Id}))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit" class="btn btn-primary">Delete</button>
}
